.MIRECO-advanced-popover
  .MIRECO-advanced-popover-header
    background: #eee
    padding: 0.25rem
    border-bottom: 1px solid rgba(0,0,0,.125)

    button
      &.shortcuts
        padding: 0.2rem 0.4rem
        > svg
          height: 17px
          width: 17px
          vertical-align: middle
          &.MIRECO-lightning path
            fill: #555 !important
          &.MIRECO-chevron-left path
            stroke: #555 !important

    .MIRECO-text
      font-size: 0.8rem
      line-height: 1.5
      padding: 0.2rem 0.5rem
      margin-bottom: 0
      margin-left: 0.3rem

      color: #495057
      background-color: #fff
      border: 1px solid #ced4da
      border-radius: 0.25rem
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
      &::placeholder
        color: #6c757d
        opacity: 1
      &:focus
        color: #495057
        border-color: #80bdff
        outline: 0
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
    
    &.shortcuts
      display: flex
      flex-direction: row

      button.shortcuts
        position: relative
        float: none
  
  .MIRECO-day-calendar:not(:last-child)
    border-right: 1px solid rgba(0,0,0,.125)
  
  .MIRECO-advanced-popover-body .MIRECO-dropdown
    max-width: none
    width: 100%
