.MIRECO-advanced-popover
  overflow: hidden

  .MIRECO-advanced-popover-header
    background: #eee
    padding: 0.25rem
    border-bottom: var(--bs-border-width) solid var(--bs-border-color)

    button
      &.shortcuts
        padding: 0.2rem 0.4rem
        > svg
          height: 17px
          width: 17px
          vertical-align: middle
          &.MIRECO-lightning path
            fill: #555 !important
          &.MIRECO-chevron-left path
            stroke: #555 !important

    .MIRECO-text
      font-size: 0.8rem
      line-height: 1.5
      padding: 0.2rem 0.5rem
      margin-bottom: 0
      margin-left: 0.3rem

      color: var(--bs-body-color)
      background-color: var(--bs-body-bg)
      border: var(--bs-border-width) solid var(--bs-border-color)
      border-radius: 0.375rem
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
      &::placeholder
        color: var(--bs-secondary-color)
        opacity: 1
      &:focus
        color: var(--bs-body-color)
        border-color: #86b7fe
        outline: 0
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25)

    &.shortcuts
      display: flex
      flex-direction: row

      button.shortcuts
        position: relative
        float: none

  .MIRECO-day-calendar:not(:last-child)
    border-right: var(--bs-border-width) solid var(--bs-border-color)

  .MIRECO-advanced-popover-body .MIRECO-dropdown
    max-width: none
    width: 100%
