.MIRECO-month-calendar
  box-shadow: 0 0 0 1px hsla(0,0%,0%,0.1),0 4px 11px hsla(0,0%,0%,0.1)
  border-radius: 4px
  margin-top: 8px
  width: 18rem
  font-size: 0.875rem

  > .calendar-header
    margin: 0.5rem 0
    h5
      margin: 0
      margin-left: 1rem
      font-size: 0.875rem
      font-weight: normal
      text-align: center
    button
      background: none
      outline: none
      border: none
      margin: 0
      cursor: pointer

  ol.months li
    button
      border: none
      border-radius: 4px
      &:focus
        outline: none
        border: none
    
    button
      background: content-colour
      color: content-text-colour
      &:hover
        background: content-hover-colour
    &.current
      button
        background: current-colour
        color: current-text-colour
        &:hover
          background: current-hover-colour
    // &:not(.current).selected
    //   button
    //     background: contained-colour
    //     color: contained-text-colour
    //     &:hover
    //       background: contained-hover-colour
    
    button:not(:disabled):not(.disabled)
      cursor: pointer
