.MIRECO-month-calendar
  width: 18rem
  font-size: 0.875rem

  ol.months li
    button
      border: none
      border-radius: 4px
      &:focus
        outline: none
        border: none
    
    button
      background: content-colour
      color: content-text-colour
      &:hover
        background: content-hover-colour
    &.current
      button
        background: current-colour
        color: current-text-colour
        &:hover
          background: current-hover-colour
    
    button:not(:disabled):not(.disabled)
      cursor: pointer

    corner-tag-size = 10px
    corner-tag-margin = 2px
    position: relative
    &.today:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 0
      height: 0
      border-style: solid
      border-width: 0 0 corner-tag-size corner-tag-size
      border-color: transparent transparent transparent #0dcaf0
      border-top-left-radius: 2px
      pointer-events: none
