.MIRECO-month-calendar
  width: 18rem
  font-size: 0.875rem

  ol.months li
    button
      border: none
      border-radius: 4px
      &:focus
        outline: none
        border: none

    button
      background: var(--bs-body-bg)
      color: var(--bs-body-color)
      &:hover
        background: content-hover-colour
    &.current
      button
        background: var(--bs-primary)
        color: primary-button-text-colour
        &:hover
          background: primary-button-hover-colour

    button:not(:disabled):not(.disabled)
      cursor: pointer

    corner-tag-size = 10px
    corner-tag-margin = 2px
    position: relative
    &.today:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 0
      height: 0
      border-style: solid
      border-width: 0 0 corner-tag-size corner-tag-size
      border-color: transparent transparent transparent #0dcaf0
      border-top-left-radius: 2px
      pointer-events: none
