@import '../node_modules/mireco/dist/layout.css'

content-colour = #fff
content-hover-colour = #eee
content-text-colour = #000
current-colour = #007bff
current-hover-colour = #0b5ed7
current-text-colour = #fff
contained-colour = #cce5ff
contained-hover-colour = hsl(216, 90%, 84%)
contained-text-colour = #333

@import 'components/clear-button'
@import 'components/controls-popover'
@import 'components/day-calendar'
@import 'components/dropdown'
@import 'components/month-calendar'
@import 'components/time-selector'

@import 'inputs/multi-select'

.MIRECO-spinner
  path
    // stroke: #17a2b8 !important
    stroke: rgb(0, 123, 255) !important

.MIRECO-widget-text
  > .MIRECO-clear-button
    right: 0

.MIRECO-widget-block, .MIRECO-multi-select .MIRECO-text
  &.has-icon
    > .MIRECO-clear-button
      right: calc(0.6rem + 24px)
    > svg
      right: 0.375rem
    &:after
      content: ' '
      position: absolute
      top: 6px
      right: calc(0.6rem + 24px)
      height: calc(100% - 12px)
      border-right: 1px solid #ced4da

.MIRECO-widget-block.form-control
  padding: 0
  cursor: text
  &.in-focus
    border-color: #80bdff
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)

.MIRECO-text.MIRECO-embedded
  border: none
  background: none
  padding: 0.375rem 0.75rem
  &:focus-visible
    outline: none

.MIRECO-datetime-controls, .MIRECO-datetime-range-controls
  .MIRECO-day-calendar
    border-right: 1px solid rgba(0,0,0,.125)
  .MIRECO-time-selector
    height: 18rem

.MIRECO-widget-text
  > input
    padding-right: calc(0.75rem + 24px)
  &.clearable input
    padding-right: calc(0.75rem + 0.2rem + 48px)

.MIRECO-multi-select
  padding-right: calc(0.75rem + 24px)
  &.clearable
    padding-right: calc(0.75rem + 0.2rem + 48px)

.MIRECO-widget-block
  > svg, button > svg
    path, rect, circle
      transition: stroke 0.15s ease-in-out, fill 0.15s ease-in-out
  
  &:not(.in-focus)
    > svg, > button:not(:hover) > svg
      &.MIRECO-calendar, &.MIRECO-cross, &.MIRECO-chevron-down, &.MIRECO-chevron-left
        path, rect, circle
          stroke: #ccc !important
      &.MIRECO-clock
        path
          stroke: #ccc !important
        circle:first-child
          stroke: #ccc !important
        circle:last-child
          fill: #ccc !important
      &.MIRECO-hourglass
        path:nth-child(1)
          stroke: #ccc !important
        path:nth-child(2)
          fill: #ccc !important
